/*
  Gotham family
*/
@font-face {
  font-family: "Gotham";
  src: url(/fonts/gotham/Gotham-Black.otf);
  font-weight: 800;
 }

@font-face {
  font-family: "Gotham";
  src: url(/fonts/gotham/Gotham-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Gotham";
  src: url(/fonts/gotham/Gotham-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Gotham";
  src: url(/fonts/gotham/Gotham-Book.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Gotham";
  src: url(/fonts/gotham/Gotham-Light.otf);
  font-weight: 300;
}

/*
  Suisse family
*/
@font-face {
  font-family: "Suisse BP Int'l";
  src: url(/fonts/suisse/SuisseBPIntl-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Suisse BP Int'l";
  src: url(/fonts/suisse/SuisseBPIntl-Medium.otf);
  font-weight: 500;
}
